.form-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

hr {
    border: none;
    border-top: 1px solid gray;
    margin: 0 0 10px 0;
}

h2 {
    margin: 0 0 0 9px;
}

.inp {
    margin-bottom: 4px;
}

label {
    margin-left: 40%;
    margin-bottom: 10px;
}

.gd {
    margin-top: 28px;
    margin-bottom: 38px;
}
